<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="POST">
        <center>
            <table>
                <tr>
                    <td>
                        First number:
                    </td>
                    <td>
                        <input type="text" name="textfirstnumber">
                    </td>
                </tr>
                <tr>
                    <td>
                        Second number:
                    </td>
                    <td>
                        <input type="text" name="textsecondnumber">
                    </td>
                </tr>
                <tr>    
                    <td>
                        <button type="submit" name="buttonadd">ADD</button>
                        <button type="submit" name="buttonsub">SUB</button>
                        <button type="submit" name="buttonmul">MUL</button>
                        <button type="submit" name="buttondiv">DIV</button>
                    </td>
            </table>
        </center>
    </form>
</body>
</html>