<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <form method="POST">
        <center>
            <h1>Counter</h1>
            <table>
                <tr>
                    <button type="submit" name="Increament">Increament</button>
                    <button type="submit" name="Decreament">Decreament</button>
                    <button type="submit" name="Reset">Reset</button>
                </tr>
                <tr>
                    <td>
                        <input type="number" value="{{result}}" name="result">
                    </td>
                </tr>
            </table>
        </center>
    </form>
</body>
</html>