<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <center>
            <h1>Department</h1>
            <table>
                <tr>
                    <td>
                        Department Name:
                    </td>
                    <td>
                        <input type="text" name="textdepartmentname">
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        <input type="text" name="textdepartmentdesc">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="button">save</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        {(result)}
                    </td>
                </tr>
            </table>
        </center>
    </form>
</body>
</html>