<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <center>
            <h1>Department View</h1>
            <table border="1" cellspacing="0" cellpadding="5">
                <tr>
                    <th>Department Name</th>
                    <th>Department Desc</th>
                </tr>
                {% for department in getdepartment %}
                <tr>
                    <td>{{ department.DEPT_NAME }}</td>
                    <td>{{ department.DEPT_DESC }}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
    </form>
</body>
</html>
