<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Department</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <center>
            <h1>Department Delete</h1>
            <table>
                <tr>
                    <td>Department Name:</td>
                    <td>
                        <input type="text" value="{{ getdepartments.DEPT_NAME }}" disabled>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-danger" name="submit">Delete</button>
                    </td>
                </tr>
            </table>
        </center>
    </form>
</body>
</html>
